*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: #eee;
}

header{
    background-color: #fff;
    box-shadow: 0px 3px 6px rgb(0,0,0.1);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 142px;
    padding-right: 142px;
}

header nav h1{
    font-size: 28px;
    font-weight: 600;

}

header nav .tabs{
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
}

header nav .tabs .tab{
    display: block;
}

header nav .tabs .tab a[data-switcher]
{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    background-color: royalblue;
    cursor: pointer;
}

header nav .tabs .tab ul li a[data-switcher]
{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    background-color: royalblue;
    cursor: pointer;
}

header nav .tabs .tab:hover a[data-switcher]{
    background-color: #f7a800;
    font-weight: 700;

}

header nav .tabs .tab.is-active a[data-switcher]{
    
    background-color: #f7a800;
    font-weight: 700;

}

main{
    padding-left: 142px;
    padding-right: 142px;
}

.pages{
    /* height: 400px; */
    margin-top: 100px;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px, 3px 6px rgba(0,0,0,0.1);
}

.pages .page{
    display: none;
}

.pages .page.is-active{
    height: 275px;
    display: block;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    min-width: 120px;
    background-color: #FFF;
}
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    min-width: 120px;
    background-color: #FFF;
    white-space: nowrap; /* Prevents text wrapping */
    vertical-align: top; /* Aligns text to the top */
}

th {
    background-color: #f0f0f0;
}

.time {
    vertical-align: top;
    padding: 20px 160px; /* The first value is for top and bottom padding, increasing it will increase the height */
    text-align: left;
    
}


button{
    font-size: 16px;
    border-radius: 12px;
    background-color: royalblue;
    width: 16%;
    box-shadow: 0px 3px 6px rgb(0,0,0.1);
    border: 2px solid royalblue;
    transition-duration: 0.4s;
   
}


button:hover{
    background-color: #f7a800;
    border: 2px solid #f7a800;
}