<!-- create_pod.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Create Pod</title>
    <!-- You can add more head elements like CSS here if needed -->
</head>
<body>
    <h1>Create a New Pod</h1>

    <form method="post">
        {% csrf_token %}

        <label for="location_name">Location Name:</label><br>
        <input type="text" id="location_name" name="location_name" required><br>

        <label for="full_location">Full Location:</label><br>
        <input type="text" id="full_location" name="full_location" required><br>

        <label for="building_info">Building:</label><br>
        <input type="number" id="building_info" name="building_info" required><br>

        <label for="room_no">Building:</label><br>
        <input type="number" id="room_no" name="room_no" required><br>

        <label for="pod_supervisor">Pod Supervisor:</label><br>
        <input type="text" id="pod_supervisor" name="pod_supervisor" required><br>

        <input type="submit" value="Submit">
    </form>

    <!-- Django messages -->
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endfor %}
</body>
</html>
