<!DOCTYPE html>
<html>
<head>
    <title>Create Shift</title>
    <!-- Add any additional CSS or JS you need -->
</head>
<body>
    <h1>Create a New Shift</h1>
    <form method="post" action="{% url 'create_shift' %}">
        {% csrf_token %}

        <label for="start_date">Start Day:</label><br>
        <input type="date" id="start_date" name="start_date" required><br>

        <label for="start_time">Start Time:</label><br>
        <input type="time" id="start_time" name="start_time" required><br>

        <label for="end_time">End Time:</label><br>
        <input type="time" id="end_time" name="end_time" required><br>

        <label for="pod">Pod:</label><br>
        <select id="pod" name="pod">
            {% for pod in pods %}
                <option value="{{ pod.id }}">{{ pod.name }}</option>
            {% endfor %}
        </select><br>

        <label for="shift_slots">Building:</label><br>
        <input type="number" id="shift_slots" name="shift_slots" required><br>

        <label for="shift_">Building:</label><br>
        <input type="number" id="room_no" name="room_no" required><br>

        <label for="shift_repeats">Building:</label><br>
        <input type="number" id="shift_repeats" name="shift_repeats" required><br>

        <input type="submit" value="Submit">
    </form>
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endfor %}
</body>
</html>
